{{ define "content" }}
	{{template "list-tabs" .}}
	<!-- it's easier to copy the headline and nav than to nest templates -->
	<ul class="nav nav-tabs mb-3">
		<li class="nav-item">
			<a class="nav-link" href="/members/{{ PathEscape .List.RFC5322AddrSpec }}">List</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" href="/members/{{ PathEscape .List.RFC5322AddrSpec }}/add">Add</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/members/{{ PathEscape .List.RFC5322AddrSpec }}/remove">Remove</a>
		</li>
	</ul>

	<form action="/members/{{ PathEscape .List.RFC5322AddrSpec }}/add/staging" method="post">
		<input type="hidden" name="addrs" value="{{ .AddrsString}}">
		{{ template "addrs-card" .Addrs }}
		<div class="form-group form-check">
			<input class="form-check-input" type="radio" name="stage" id="checkback" value="checkback" checked onchange="document.getElementById('gdpr-note').style.display = 'none'">
			<label class="form-check-label" for="checkback">
				Send a check back email with a confirmation link. The link is valid for seven days and not revocable.
			</label>
		</div>
		<div class="form-group form-check">
			<input class="form-check-input" type="radio" name="stage" id="signoff" value="signoff" onchange="document.getElementById('gdpr-note').style.display = 'block'">
			<label class="form-check-label" for="signoff">
				The new members have consented. Add them instantly and send a welcome email.
			</label>
		</div>
		<div class="form-group form-check">
			<input class="form-check-input" type="radio" name="stage" id="silent" value="silent" onchange="document.getElementById('gdpr-note').style.display = 'block'">
			<label class="form-check-label" for="silent">
				The new members have consented. Add them instantly. Do not send a welcome email.
			</label>
		</div>
		<div class="form-group" id="gdpr-note" style="display: none"><!-- initially: checkback is checked, gdpr-note is hidden -->
			<input class="form-control" name="gdpr-note" placeholder="GDPR note (optional)">
			<!-- is not preserved across errors at the moment, as we don't expect errors here -->
		</div>
		<button name="add" value="1" type="submit" class="btn btn-primary">Add</button>
	</form>
{{ end }}
