<!-- partly copied from my.html -->
{{ define "content" }}
	<h1>All mailing lists</h1>
	{{ with . }}
		<div class="list-group">
			{{ $domain := "" }}
			{{ range . }}
				{{ if ne $domain .Domain }}
					<div class="list-group-item"><strong>{{.Domain}}</strong></div>
				{{ end }}
				{{ $domain = .Domain }}
				<a href="/list/{{.EscapeAddress}}" class="list-group-item list-group-item-action">{{ .RFC5322AddrSpec }}{{with .Display}} &mdash; <em>{{.}}</em>{{end}}</a>
			{{ end }}
		</div>
	{{ else }}
		<p>No lists.</p>
	{{ end }}
{{ end }}
