{{ define "content" }}
	{{template "list-tabs" .}}
	<!-- it's easier to copy the headline and nav than to nest templates -->
	<ul class="nav nav-tabs mb-3">
		<li class="nav-item">
			<a class="nav-link" href="/members/{{ .List.EscapeAddress }}">List</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" href="/members/{{ .List.EscapeAddress }}/add">Add</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/members/{{ .List.EscapeAddress }}/remove">Remove</a>
		</li>
	</ul>

	<form action="" method="post">
		<div class="form-group">
			<textarea name="addrs" class="form-control" placeholder="Email addresses (up to {{ BatchLimit }}, one RFC 5322 address-list per line)" rows="4">{{ .Addrs }}</textarea>
		</div>
		<button name="add" value="1" type="submit" class="btn btn-primary">Prepare</button>
	</form>
{{ end }}
