{{ define "content" }}
	{{template "list-tabs" .}}
	<!-- it's easier to copy the headline and nav than to nest templates -->
	<ul class="nav nav-tabs mb-3">
		<li class="nav-item">
			<a class="nav-link active" href="/members/{{ PathEscape .List.RFC5322AddrSpec }}">List</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/members/{{ PathEscape .List.RFC5322AddrSpec }}/add">Add</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/members/{{ PathEscape .List.RFC5322AddrSpec }}/remove">Remove</a>
		</li>
	</ul>

	<p>The list has {{ len .List.Members}} members.</p>
	{{ with .List.Members }}
		<table class="table">
			<thead>
				<tr>
					<th>Address</th>
					<th>Receive mails</th>
					<th>Moderate</th>
					<th>Notify on moderation</th>
					<th>Admin</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{{ range . }}
				<tr id="{{ PathEscape .MemberAddress }}">
					<td><address>{{ .MemberAddress }}</address></td><!-- some language processors mess up email addresses, hope that the address tag prevents that -->
					<td>{{ if .Receive  }}&#10004;{{ end }}</td>
					<td>{{ if .Moderate }}&#10004;{{ end }}</td>
					<td>{{ if .Notify   }}&#10004;{{ end }}</td>
					<td>{{ if .Admin    }}&#10004;{{ end }}</td>
					<td><a href="/member/{{ PathEscape $.List.RFC5322AddrSpec }}/{{ .MemberAddress }}">Edit</a></td>
				</tr>
				{{ end }}
			</tbody>
		</table>
	{{ end }}
{{ end }}
