{{ define "content" }}
	<!-- it's easier to copy the headline and nav than to nest templates -->
	<h1>Members of {{ .List.RFC5322AddrSpec }}</h1>
	<ul class="nav nav-tabs mt-3 mb-3">
		<li class="nav-item">
			<a class="nav-link" href="/members/{{ .List.EscapeAddress }}">Members</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" href="/members/{{ .List.EscapeAddress }}/add">Add</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/members/{{ .List.EscapeAddress }}/remove">Remove</a>
		</li>
	</ul>

	<form action="" method="post">
		<div class="form-group">
			<textarea name="addrs" class="form-control" placeholder="Email addresses (up to {{ BatchLimit }}, one RFC 5322 address-list per line)" rows="4">{{ .Addrs }}</textarea>
		</div>
		<button name="add" value="1" type="submit" class="btn btn-primary">Prepare</button>
	</form>
{{ end }}
