{{ define "content" }}
	<h1>Lists</h1>
	{{ with .PublicLists }}
		<table class="table">
			<thead>
				<tr>
					<th>Address</th>
					<th>Name</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{{ range .}}
					<tr>
						<td>{{ .RFC5322AddrSpec }}</td>
						<td>{{ .Display }}</td>
						<td>
							{{ if not (index $.MyLists .RFC5322AddrSpec) }}
								<a href="/join/{{ .EscapeAddress }}">Join</a>
							{{ end }}
						</td>
					</tr>
				{{ end }}
			</tbody>
		</table>
	{{ else }}
		<p>No lists.</p>
	{{ end }}
{{ end }}
