{{ define "content" }}
	<h1>Known senders for {{ .Address }}</h1>
	<form action="" method="post">
		<div class="form-group">
			<label>Email addresses (one RFC 5322 address-list per line)</label>
			<textarea name="emails" class="form-control" placeholder="Email addresses"></textarea> <!-- TODO is not preserved across errors at the moment -->
		</div>
		<button name="add" value="1" type="submit" class="btn btn-primary">Add up to 10000 known senders</button> <!-- TODO DatabaseBatchLimit -->
		<button name="remove" value="1" type="submit" class="btn btn-danger">Remove up to 10000 known senders</button> <!-- TODO DatabaseBatchLimit -->
	</form>
	{{ with .Knowns }}
		<h2>Known From addresses</h2>
		<ul>
			{{ range . }}
				<li>{{ . }}</li>
			{{ end }}
		</ul>
	{{ end }}
{{ end }}
